body {
  margin: 0 auto;
  width: 100vw;
  background-color: #E0E0E0;
  overflow: hidden;
}
a {
  text-decoration: none;
}
#aboutModal {
  /*Hero Patterns*/
  background-color: #4a4b52;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233f51b5' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  /*End Hero Patterns*/
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  top: 0;
  /*To show =  display:flex  To hide = display: none*/
  flex-direction: column;
  justify-content: center;
}
.hidden .fa-times-circle-o {
    font-size: 40px;
    color: white;
    margin: auto;
    position: absolute;
    right: 50px;
    top: 50px;
}
.hidden .fa-times-circle-o:hover {
  color: grey;
}
#modalContent {
  font-size: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  letter-spacing: 3px;
}
#github {
  color: magenta;
}
.mainContent {
  background-color: #E0E0E0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}
.about {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
}
.about a {
  margin: auto;
}
.about .fa-question-circle-o {
  color: #303F9F;
  font-size: 35px;
  margin: auto;
  position: relative;
  top: -40px;
}
.about .fa-question-circle-o:hover {
  color: white;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60rem;
  height: 60rem;
  margin: 15px auto;
}
/* Begin general styling for card child elements.*/
.cardTitle {
  font-size: 1rem;
  line-height: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #3F51B5;
  text-decoration: underline;
}
.cardDescription {
  font-size: 0.9rem;
  line-height: 1.7rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #303F9F;
}
.valueLinks {
  font-size: 0.8rem;
}
.valueLinks a {
  text-decoration: none;
  line-height: 2rem;
  font-family: sans-serif;
  color: #9E9E9E;
  font-weight: bold;
}
.valueLinks a:hover {
  color: #757575;
}
.valueLinks a:active {
  color: #757575;
  text-decoration: underline;
}
/*End general styling for card child elements.*/
.breakEvenAnalysis {
  margin-left: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.breakEvenAnalysis:hover {
  box-shadow: 0 10px 6px 1px #777;
}
.valueLinks #fixedCost {

}
.valueLinks #revenue {
  margin: 0.5rem;
}
.valueLinks #variableCost {

}
.breakEvenAnalysis .fa-calculator {
  color: #303F9F;
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
}
.breakEvenAnalysis .fa-external-link {
  color: #64B5F6;
  font-size: 11px;
  position: relative;
  top: -3px;
  margin: 2px;
}
#appCTA {
  color: #303F9F;
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.businessModeling {
  margin-right: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.businessModeling:hover {
  box-shadow: 0 10px 6px 1px #777;
}
.valueLinks #marketAnalysis {
  margin-right: 2rem;
}
.valueLinks #popularModels {
  margin-right: 2rem;
}
.valueLinks #ROI {
  margin-right: 2rem;
}
.valueLinks #methodologies {
  margin-right: 2rem;
}
.marginCalculator {
  margin-top: -11.7rem;
  margin-left: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.marginCalculator:hover {
  box-shadow: 0 10px 6px 1px #777;
}
.valueLinks #margins {
  margin-right: 2rem;
}
.targetSalesCostOptimization {
  margin-top: -11.7rem;
  margin-right: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.targetSalesCostOptimization .cardTitle {
  font-size: 0.9rem;
}
.targetSalesCostOptimization:hover {
  box-shadow: 0 10px 6px 1px #777;
}
/*Begin Application Forms and Feature Styling*/
#applicationForms {
  position: static;
  top: -10rem;
  width: 40rem;
  height: 200rem;
  background-color: inherit;
  border-radius: 5px;
  margin: -150px auto;
}
#breakEvenAnalysis {
  font-family: sans-serif;
  line-height: 20px;
  color: #303F9F;
  width: 40rem;
  height: 20rem;
}
#breakEvenAnalysis h3 {
  width: 15rem;
  font-weight: 400;
  margin: 0 auto;
}
#breakEvenAnalysis h4 {
  width: 30rem;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;

}
#breakEvenAnalysis p {
  margin-left: 8rem;
  font-weight: 200;

}
#breakEvenAnalysis input {
  float: right;
  margin-right: 100px;
}
#result {
  color: #303F9F;
  font-weight: bold;
}
#run {
  display: block;
  width: 5rem;
  color: #303F9F;
  margin: 0 auto;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
