body {
  margin: 0 auto;
  width: 100vw;
  background-color: #E0E0E0;
  overflow: hidden;
}
.navigation {
  width: 100vw;
  background-color: #303F9F;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 10px 6px -8px #777;
}
.navigation a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin: auto;
}
.mainContent {
  background-color: #E0E0E0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}
.about {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
}
.about a {
  margin: auto;
}
.fa-question-circle-o:before {
  color: #303F9F;
  font-size: 35px;
  margin: auto;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60rem;
  height: 60rem;
  margin: 10px auto;
}
/* Begin general styling for card child elements.*/
.cardTitle {
  font-size: 1rem;
  line-height: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #3F51B5;
  text-decoration: underline;
}
.cardDescription {
  font-size: 0.9rem;
  line-height: 1.7rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #303F9F;
}
.valueLinks {
  font-size: 0.8rem;
}
.valueLinks a {
  text-decoration: none;
  line-height: 2rem;
  font-family: sans-serif;
  color: #9E9E9E;
  font-weight: bold;
}
.valueLinks a:hover {
  color: #757575;
}
.valueLinks a:active {
  color: #757575;
  text-decoration: underline;
}
/*End general styling for card child elements.*/
.breakEvenAnalysis {
  margin-left: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.breakEvenAnalysis:hover {
  box-shadow: 0 10px 6px 1px #777;
}
.valueLinks #fixedCost {
  margin-right: 2rem;
}
.valueLinks #revenue {
  margin-right: 2rem;
}
.valueLinks #variableCost {}
.businessModeling {
  margin-right: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.businessModeling:hover {
  box-shadow: 0 10px 6px 1px #777;
}
.valueLinks #marketAnalysis {
  margin-right: 2rem;
}
.valueLinks #popularModels {
  margin-right: 2rem;
}
.valueLinks #ROI {
  margin-right: 2rem;
}
.valueLinks #methodologies {
  margin-right: 2rem;
}
.marginCalculator {
  margin-top: -11.7rem;
  margin-left: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.marginCalculator:hover {
  box-shadow: 0 10px 6px 1px #777;
}
.valueLinks #margins {
  margin-right: 2rem;
}
.targetSalesCostOptimization {
  margin-top: -11.7rem;
  margin-right: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  width: 17rem;
  height: 21rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 6px -8px #777;
}
.targetSalesCostOptimization .cardTitle {
  font-size: 0.9rem;
}
.targetSalesCostOptimization:hover {
  box-shadow: 0 10px 6px 1px #777;
}
/*Begin Application Forms and Feature Styling*/
.applicationForms {
  position: relative;
  top: -10rem;
  width: 40rem;
  height: 200rem;
  background-color: inherit;
  border-radius: 5px;
  margin: 25px auto;
}
#breakEvenAnalysis {
  font-family: sans-serif;
  line-height: 20px;
  color: #303F9F;
  width: 40rem;
  height: 20rem;
}
#breakEvenAnalysis h3 {
  width: 15rem;
  font-weight: 400;
  margin: 0 auto;
}
#breakEvenAnalysis h4 {
  width: 30rem;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;

}
#breakEvenAnalysis p {
  margin-left: 8rem;
  font-weight: 200;

}
#breakEvenAnalysis input {
  float: right;
  margin-right: 100px;
}
#result {
  color: #303F9F;
  font-weight: bold;
}
#run {
  display: block;
  width: 5rem;
  color: #303F9F;
  margin: 0 auto;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
